### other ###
target/
bin/
.mvn/
Thumbs.db
*.swp
catalina.base_IS_UNDEFINED
build/
hs_err_pid*
dump.rdb
.flattened-pom.xml 
### log ###
*.log
*.bak


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.gradle

### IntelliJ IDEA ###
.idea/
.idea/*.xml
*.iws
*.iml
*.ipr
*.DS_Store


### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.err