<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ess.example.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.ess.example.entity.Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
</mapper>